[core]
	editor = vim
	excludesfile = ~/.gitignore
	pager = less
[user]
	name = Francis Stephens
	email = francisstephens@gmail.com
[push]
	default = simple
	autoSetupRemote = true
[checkout]
	defaultRemote = origin
